<div class="container product-container">
    <ul class="list-group top-buff">
        <li class="list-group-item ">
            <div class="row">
            <div class="col-xs-3">
                <img src="{{product.photo}}">
            </div>
            <div class="col-xs-7">
                <h1>{{product.title}}</h1>
                <span ng-repeat="i in avgReview">
                  <i class="fa fa-star"></i>
                </span>
                <hr>
                <p>{{product.description}}</p>
                <!--gray out the add to cart button when quantity is 0-->
                <!--adds product to cart-->
                <br>
                <hr>
                <h2>Reviews</h2>
                <div ng-repeat="review in reviews">
                    <h3>Review by: {{review.user.email}}</h3>
                    <p>{{review.rating}} stars!
                        <span ng-repeat="i in getNumber(review.rating)">
                      <i class="fa fa-star"></i>
                    </span>
                    </p>
                    <p>
                        <strong>{{review.text}}</strong>
                    </p>
                    <button type="buttom" ng-show="isAdmin" ng-click="removeReview(review)" class="btn btn-danger">Remove</button>
                    <hr>
                </div>
                <form ng-show="isUser()" ng-submit="submitReview()">
                    <div>
                        <h4>Leave A Review:&nbsp;
                        <select ng-model="rating" ng-change="updateRating()">
                            <option value="" disabled selected>Rating</option>
                            <option value="5">5</option>
                            <option value="4">4</option>
                            <option value="3">3</option>
                            <option value="2">2</option>
                            <option value="1">1</option>
                        </select>&nbsp;<span ng-repeat="i in ratingArr">
                          <i class="fa fa-star"></i>
                        </span></h4>
                    <p ng-show="ratingError">Please select a rating before submit</p>
                    </div>

                    <div>
                        <textarea rows="4" cols="50" type="text" ng-model="reviewContents"></textarea>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info">Submit Review</button>
                    </div>
                    <p ng-show="reviewError">Please put in some comments before submit</p>
                </form>
            </div>
            <div class="col-xs-2">
                <ul class="list-group top-buff">
                    <li class="list-group-item ">
                        <h3>{{product.price | currency}}</h3>
                        <h3>Stock: {{product.inventoryQuantity}} </h3>
                        <hr>
                        <h3><button type='button' class="btn btn-danger" ng-show="product.inventoryQuantity===0">Out of Stock</button>
                        <button type='button' class="btn btn-success" ng-hide="product.inventoryQuantity===0" ng-click="addToCart(product)"><i class="fa fa-opencart"></i> Add to cart</button></h3>
                    </li>
                </ul>
            </div>
            </div>
        </li>
    </ul>
</div>