<h1>Cart</h1>
<ul>
  <li ng-repeat="item in cart.items">
    {{item.productId.title}} {{item.price}} 
    total price: {{item.price*item.quantity | currency}}
    <input type="text" ng-model="item.quantity"></input>
    <button class="btn btn-primary" ng-click="updateOrderItem(item)">Update Quantity</button>
    <button class="btn btn-danger" ng-click="removeItemFromOrder(item)">X</button>
  </li>
</ul>

<p>Total Price: {{getTotal() | currency}}</p>

<button class="btn btn-success">Checkout</button>
<!--This button needs to also call updateQuantity-->