<main class="cd-main-content">
    <div class="cd-tab-filter-wrapper">
        <div class="cd-tab-filter">
            <ul class="cd-filters">
                <a ng-class="{selected: headFilt===''}" data-type="all" ng-click="setHeadFilt('')">All</a>
                <a ng-class="{selected: headFilt==='featured'}" data-type="color-1" ng-click="setHeadFilt('featured')">Featured</a>
                <a ng-class="{selected: headFilt==='sale'}" data-type="color-2" ng-click="setHeadFilt('sale')">On Sale</a>
            </ul>
            <!-- cd-filters -->
        </div>
        <!-- cd-tab-filter -->
    </div>
    <!-- cd-tab-filter-wrapper -->

    <section>
        <div class="filterbar" ng-show="showFilter">
        </div>
        <ul class="list-group no-margin">
          <!-- <li class="list-group-item clickable crop" ng-repeat="product in products" ui-sref="admin.product({productId:product._id})"> -->
          <li class="list-group-item clickable crop" ng-repeat="product in filteredProducts" ng-click="goToProduct(product._id)">
            <div class="col-xs-1">
              <img src="{{product.photo}}" alt="{{product.title}}"/>
            </div>
            <div class="col-xs-9">
              <h4>{{product.title}}</h4> {{product.description}}
            </div>
            <div class="col-xs-2">
              <h5>Price: {{product.price | currency}}</h5>
              <div>Inventory: {{product.inventoryQuantity}}</div>
              <button type='button' class="btn btn-success" ng-hide="product.inventoryQuantity===0" ng-click="addToCart(product); $event.stopPropagation()"><i class="fa fa-opencart"></i> Add to cart</button>
              <button type='button' class="btn btn-danger" ng-show="product.inventoryQuantity===0" ng-click="$event.stopPropagation()">Out of Stock</button>
            </div>
          </li>
        </ul>
        <!-- <div ng-repeat="product in products">
            <product-item info='product'></product-item>
                <button type='button' class="btn btn-success" ng-click="addToCart(product)"><i class="fa fa-opencart"></i> Add to cart</button>
        </div> -->
    </section>
    <!-- cd-filter -->
    <a href="" class="cd-filter-trigger" ng-click="toggleFilter()">Filters</a>
</main>
<!-- cd-main-content -->