<h2>Edit Promo Codes:</h2>
<form name='editPromoForm' ng-submit="editPromoForm.$valid && editPromo()">
<div>
    <button class="btn" type='submit'>Save</button>
    <button class="btn" type='button' ui-sref='admin.promos'>Cancel</button>
    <button class="btn btn-danger" type='button' ng-click='deletePromo()' ng-hide='newPromo'>Delete</button>
</div>
<div class="col-xs-3">
  <img src="http://s1.bmdstatic.com/images/promo/HP-Z400-Workstation-Icon-Promo.gif"/>
</div>
<div class="col-xs-8">
  <div class="col-xs-12">
    <h3>Code: <input type="text" ng-model="promo.code"></h3>
  </div>
  <div class="col-xs-6">
    <h3>Type: <input class="witdth50" type="text" ng-model="promo.type"></h3>
  </div>
  <div class="col-xs-6">
    <h3>Value Off: <input class="witdth50" type="text" ng-model="promo.valueOff"></h3>
  </div>
  <div class="col-xs-6">
    <h3>Products: <input class="witdth50" type="text" ng-model="promo.products"></h3>
  </div>
  <div class="col-xs-12">
    <h3>Categories: <input type="text" ng-model="promo.categories"></h3>
    <h3>Expiration:</h3> <input type="text" ng-model="promo.expirationDate"> 
    
  </div>
</div>
</form>